[Unit]
Description=Surveillance station written in nodejs for raspberry pi
Before=multi-user.target
Before=graphical.target
After=network-online.target
After=dbus.service
Wants=network-online.target

[Service]
Type=simple
User=pi
Restart=always
RestartSec=10
WorkingDirectory=/opt/pisurveillance
ExecStart=/opt/pisurveillance/app.js

[Install]
WantedBy=multi-user.target